<nav class="delphi-mobile-bottom-nav" aria-label="Delphi Mobile Navigation">
    <a href="{{ mobile_routes.home }}" class="{% if active_tab == 'home' %}delphi-mobile-bottom-nav-active{% endif %}">
        <span>Home</span>
    </a>
    <a href="{{ mobile_routes.apollo }}" class="{% if active_tab == 'apollo' %}delphi-mobile-bottom-nav-active{% endif %}">
        <span>Apollo</span>
    </a>
    <a href="{{ mobile_routes.journal }}" class="{% if active_tab == 'journal' %}delphi-mobile-bottom-nav-active{% endif %}">
        <span>Journal</span>
    </a>
    <a href="{{ mobile_routes.performance }}" class="{% if active_tab == 'performance' %}delphi-mobile-bottom-nav-active{% endif %}">
        <span>Stats</span>
    </a>
</nav>
